:host {

.card-actions{
  display: flex;
  justify-content: flex-end;
}

.mat-paginator{
    width: 100%;
}

.edit-btn {
  background-color: lightblue !important;
  color: #222 !important;
  border-radius: 5%;
  margin:1%;
}

.edit-btn:hover{
    background-color: dodgerblue !important;
    color: #fff !important;
}

.delete-btn {
  background-color: lightcoral !important;
  color: #222 !important;
  border-radius: 5%;
  margin:1%;
}

.delete-btn:hover{
    background-color: red !important;
    color: #fff !important;
}

.mat-mdc-header-row{
  background-color: rgb(35, 96, 175) !important;
  color:#fff !important;
}

.card-title{
    padding-bottom: 20px;
}

.th-th-alinhamento{
  text-align: center;
}

}
