@import './app/expense-add-edit/expense-add-edit.component.css';
@import './app/expense-add-grid/expense-add-grid.component.css';
@import './app/app.component.css';
@import "tailwindcss";

html, body, .mat-sidenav-container { height: 100%;}
body { margin: 0; font-family: Roboto,"Helvetica Neue",sans-serif;}


.mat-drawer-inner-container .mdc-list-item__primary-text{
  color: #fff !important;
}

.submit-btn {
  background-color: lightblue !important;
  color: #222 !important;
  border-radius: 5%;
}

.submit-btn-invalid {
  background-color: lightcoral !important;
  color: white !important;
  border-radius: 5%;
}

.mat-datepicker-content {
      background-color: theme('colors.blue.500') !important;
	  color: white !important;
}
